body {
    background-color: cornsilk;
}

.frente a {
    text-decoration: none;
    color: #000;
}

header h1 {
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}

nav {
    width: 1500px;
    margin: 10px auto;
    background-color: rgb(23, 134, 138);
}

.navegacion>ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu>li>a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
}

.menu li a:hover {
    color: black;
    transition: all .3s;
    background-color: azure;
    padding: 20px;
}

.submenu {
    position: absolute;
    background: gray;
    width: 130%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.4s;
    list-style: none;
    padding-left: 5px;
}

.submenu>li>a {
    display: block;
    padding: 15px;
    padding-left: 0%;
    margin-left: 0%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submenu a {
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

footer {
    background-color: rgb(23, 134, 138);
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}

.list {
    text-decoration: none;
    margin: 20px 0px 0px 0px;
    padding-left: 0px;
    display: inline-block;
}

.lista2>a {
    text-decoration: none;
    color: white;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 20px;
}

.lista2>hr {
    margin: 5px 30px 15px 30px;
}

article {
    margin: 15%;
    margin-top: 10px;
}

.dog {
    text-align: center;
}

.titulo {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}

p {
    margin: 20%;
    margin-block: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}